{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
<div class="container col-md-4 modal-dialog-centered text-center" style="margin-top:12%; background-color:orange; border-radius: 15px ">
    <div class="row">
        <h2>Ajouter votre annonce</h2>
        <form method="post" action="#">
          {% csrf_token %}
            <p>Titre annonce<input type="text" name="title"></input></p>
            <p>Image
            <input type="file" name="image"></input></p>
            <p>Prix
            <input type="number" name="price"></input></p>
            <p>Adresse
            <input type="text" name="address"></input></p>
            <p>Ville
            <input type="text" name="ville"></input></p>
            <p>Code Postal
            <input type="text" name="code_postal"></input></p>
            <p>Description
            <input ttype="text" name="description"></input></p>
            <p><button type="submit" class="btn btn-primary pull-right" >
                Créer l'annonce !
            </button><p>
            </form>
</div>
    </div>
{% endblock %}
