{% extends 'layouts/base.html' %}
{% block content %}
<div class="container col-md-4 modal-dialog-centered" style="margin-top:12%; background-color:orange; border-radius: 15px ">
    <div class="row">
        <h2>Formulaire d'Inscription</h2>
        <form method="post" action="#">
        {% csrf_token %}
            {{form.as_p }}
            <a href="/login/" class="float-right">Deja un compte ? Connectez-vous...</a>
            <button type="submit" value="Submit" class="btn btn-primary pull-right">
                Submit
            </button>
            </form>
</div>
    </div>
{% endblock %}
