{% include 'layouts/base.html' %}
{% block content%}
{% load static %}
{% csrf_token %}
    <div class="container pt-5">
              <h1>Toutes les annonces de notre site</h1>
    {% for ann in annonce %}
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">
					<li>
            {% if ann.image.url == NULL %}
              <img src="" alt="Aucune image renseignee"/>
            {% else %}
						      <img src="{% static media %}media/{{ ann.image.url }}"/>
            {% endif %}
						<div class="info">
							<h2 class="title">{{ ann.title }}</h2>
              <p class="desc">Offre faite par : {{ ann.user.username}}</h3>
              <p class="desc">{{ ann.price }} euros</p>
              <p class="desc">{{ ann.ville }} {{ ann.code_postal }}</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
    {% endfor %}
	</div>
{% endblock %}
