{% extends 'layouts/base.html' %}
{% block content%}
{% load static %}
{% csrf_token %}

    {% if request.user.is_authenticated %}

        {{ 'Vous êtes autorisé.' }}

        <br>

        <p>{{'Votre username est' }} <b>{{ request.user.username }}</b>.</p>
        <a href="/logout/">Se déconnecter</a>

    {% else %}
        {{ 'Vous etes un invité.' }}
        <a href="/register/">Se créer un compte </a>
        <a href="/login/">Se connecter </a>
    {% endif %}


{% endblock %}
