{% extends 'layouts/base.html' %}
{% block content%}
{% load static %}
{% csrf_token %}
<div class="container-fluid">
<div class="container pagination-centered" style="padding-top: 5%">
     {% if not user.is_authenticated %}
     <a href="/register/">Veuillez vous creer un compte</a>
    {% endif %}
    <div class="container centered" style="display: flex;margin-left: 5%">
        <h1>Pannel de {{ user.username }}</h1><a class="btn-danger centered" href="/logout/" style="padding-top: 2%;margin-left: 2%; width:120px">Déconnexion</a>
        </div>
    </div>
 <hr size="30">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-4 float-right" style="background: lightskyblue;
                                                            border-radius: 10px;width:500px;
                                                           text-align: center">
        <h2>Informations</h2>
            {% csrf_token %}
                {% if user == NULL %}
                    <h3>Champ non disponible</h3>
                {% else %}
        <h5>Username : {{ user.username }}</h5>
        <h5>Prénom : {{ user.last_name }}</h5>
        <h5>Nom : {{ user.first_name }}</h5>
        <h5 class="fresh_mail">Email : {{ user.email }}</h5>
        <h5>Phone : {{form_info.phone}}</h5>
        <h5>Date de naissance : {{form_info.date_birth}}</h5>
        <h5>Adresse : {{form_info.address}}</h5>
        <h5>Ville : {{form_info.ville}}</h5>
        <h5>Postal Code : {{form_info.code_postal}}</h5>
        <h5>Website : {{form_info.site_internet}}</h5>
        <h5>Facebook : {{form_info.facebook}}</h5>
        <h5>Linkledink : {{form_info.linkledink}}</h5>
        <h5>Twitter : {{form_info.twitter}}</h5>
        <h5>Social : {{form_info.social}}</h5>
         {% endif %}
    </div>
<div class="col-lg-3 float-left">
      <h2>Vos Annonces postée</h2>
      {% if annonce == NULL %}
        <h3>Vous n'avez aucune annonce !</h3>
        {% else %}
          {% for ann in annonce %}
          {{ ann.title }}
          {{ ann.price }}
          {{ ann.description  }}
        <br>
        {% endfor %}
        {% endif %}
</div>
</div>
</div>
<!-- The Modal -->
<!--<div id="myModal" class="modal">
  <div class="modal-content container">
    <span class="close">&times;</span>
      <div class="row">
      <div class="col-sm-6">
    <p>Le mail user est : {{ user.email }}</p>
          </div>
          </div>
      <div class="row">
      <div class="col-sm-6">
                <p>Pour changer le mail : <input type="text" id="mail_input"></p>
                <button id="change_mail" class="btn-outline-primary">Enregistrer</button>
            <div id="error" style="color:red"></div>
      </div>
          </div>
  </div>

</div>
      <script src="{% static js %}js/jquery.js" type="text/javascript"></script>
  <script>
let modal = document.getElementById('myModal');

let btn = document.getElementById("mail");

let span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
modal.style.display = "block";
};

span.onclick = function() {
modal.style.display = "none";
};

window.onclick = function(event) {
if (event.target == modal) {
  modal.style.display = "none";
}
};

let mail = document.getElementById("change_mail");

/**
 * @return {boolean}
 */
function ValidateEmail(mail)
        {
         if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
          {
            return true;
          }
            $('#modal_id').append("Veuillez entrer une adresse mail valide");
            return false;
        }
console.log(ValidateEmail(document.getElementById("mail_input").value))
mail.onclick = function() {
    if (ValidateEmail(document.getElementById("mail_input").value) === true) {
        let form = new FormData();
        form.append("email", document.getElementById("mail_input").value);
//form.append("id_user", document.getElementById("").value);

        let settings = {
            "async": true,
            "crossDomain": true,
            "url": "http://127.0.0.1:8000/changemail/",
            "method": "POST",
            "headers": {
                "Authorization": "Basic cm9vdDpyb290",
                "Cache-Control": "no-cache",
                "Postman-Token": "dded2c02-eb95-4d21-9d82-4c0b735d8936"
            },
            "processData": false,
            "contentType": false,
            "mimeType": "multipart/form-data",
            "data": form
        };

        $.ajax(settings).done(function (response) {
            console.log(response);
        });


        $('.fresh_mail').empty();

        $('.fresh_mail').append("Email : " + document.getElementById("mail_input").value);


    } else {
        $('#error').empty();
        $('#error').append("<p>Veuillez entrer une adresse mail valide</p>");
    }
};

</script>-->
{% endblock %}
