<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <link href="{% static css%}css/bootstrap.min.css" rel="stylesheet">
     <link href="{% static css%}css/style.css" rel="stylesheet">
     <meta charset="UTF-8">
    <title>Le Bon Modulotech</title>
</head>
<body>
  <div class="container-fluid pt-0">
    <div class="row">
        <div class="float-left col-lg-5"><a href="/"><img src="http://www.ladn.eu/wp-content/uploads/2018/03/leboncoin.jpg" style="width:40%"></a></div>
        <div class="title col-lg-5 float-right pt-5" style="font-size:20px;"><a href="/new_annonce/">DÉPOSER UNE ANNONCE</a> | <a>OFFRES</a> | <a>DEMMANDES</a> | {% if request.user.id == NULL %}<a href="/login/">SE CONNECTER</a> {% else %} <p> Bonjour <a href="/UserInfo/{{request.user.id}}">{{request.user.username}}</a></p>{% endif %}</div>
      </div>
    </div>
{% block content%}
{% endblock %}
</body>
<footer>
    <script href="{% static css%}js/bootstrap.min.js" type="text/javascript"></script>
</footer>
</html>
