{% extends 'layouts/base.html' %}
{% load static %}
{% block content%}
<div class="container col-md-3 centered" style="margin-top: 12%; background-color: orange; border-radius: 15px; height:225px ">
<div class="row"></div>
  {% csrf_token %}
<form method="post" action="">
     {% block title %}<h1>Connexion</h1>{% endblock%}
    {{form.as_p}}
    <input type="submit" value="Login" class="btn btn-primary pull-right"/>
    <a href="/register/">Pas de compte ?</a>
    {{ error }}
</form>
</div>
     <div class="container centered">
{% if form.errors %}
{% csrf_token %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger col-md-4">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger col-md-4">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    </div>
    </div>
{% endif %}
{% endblock %}
