{% extends 'layouts/base.html' %}
{% block content%}
    <div class="container col-md-2" style="margin-top: 15%; background-color:orange;width: 225px; height: 225px;text-align: center;padding-top: 4% ">
<p>A bientôt</p>
<p><a href="/login/">Se reconnecter</a></p>
    </div>
{% endblock%}
